 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
<!--                    <p>text</p>-->
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <p><i>“We don’t design for browsers—we design for people.”   – Jeffrey Zeldman</i></p>
                    <p>Wireframing • Prototyping • Mockups • User Research • Personas • Heat Maps • Content Editing • Image Editing • HTML5 and CSS3 • Graphic Design • Brackets • Balsamiq Mockups • UXPin • InVision • Photoshop • Illustrator • WordPress • Keynote • Trello </p>
                </div>
                <div class="col-lg-4">
                </div>

            </div>
        </div>
    </section>
